@media screen and (max-width: 1400px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
        background-size: cover;
    }
    .about-containers{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburguer-nav{
        display: flex;
    }
    #experience, .experience-details-container{
        margin-top: 2rem;;
    }
    #profile, .section-container{
        display: block;
        background-size: contain;
        background-position: center;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        height: fit-content;
    }

    section{
        margin: 0 5%;
    }
    .section_pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .section_pic-container .absolute {
        width: 80%; /* Reduce el tamaño de la imagen para pantallas más pequeñas */
        margin: 0 auto; /* Centra la imagen */
    }
    .grain {
        background-size: contain; /* Ajusta el fondo para que se contenga dentro de la pantalla */
    }
    .about-containers{
        margin-top: 0;
    }
}

@media screen and (max-width: 600px){
    #contact, footer{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
        background-size: 100% 100%; 
        background-position: top;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p, .nav-links li a{
        font-size: 1rem;
    }
    .experience-subtitle{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section_pic-container .absolute {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción */
        object-fit: contain; /* Ajusta la imagen para que se contenga dentro del contenedor */
    }
    .grain {
        background-size: auto; /* Mantiene las proporciones originales */
        background-repeat: repeat; /* Permite que el fondo se repita */
        background-position: center; /* Centra el fondo */
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }
}